@media only screen and (min-width: 1025px) {
    #wrapper {
        width: 960px; /* Fixed width for larger screens */
        height: 800px; 
    }
    #right-column {
        width: 600px; /* original width */
        height: 600px; /* Keep original height */
    }
    #left-column {
        width: 360px; /* Keep original width */
        height: 600px; /* Keep original height */
    }
}